# Ignorar ambiente virtual da raiz
venv/

# Ignorar pastas e arquivos temporários do Python
__pycache__/
*.py[cod]

# Ignorar pastas internas do Chalice 
api-lambda/.chalice/deployments/
api-lambda/.chalice/venv/

# Ignorar arquivos de log e sistema
*.log
.DS_Store
Thumbs.db

