# Ignorar ambiente virtual da raiz
venv/

# Ignorar pastas e arquivos temporários do Python
__pycache__/
*.py[cod]
*.pyc

# Ignorar pastas internas do Chalice 
api-lambda/.chalice/deployments/
api-lambda/.chalice/venv/

# Ignorar arquivos de log e sistema
*.log
.DS_Store
Thumbs.db

# Ignorar arquivos gerados
**/__pycache__/

# Ignorar arquivos de layer
api-lambda/nltk_layer/

config.jon


